body, 
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
}

.container .content .item h1 {
    font-size: 120px;
}

.container .content .item h2 {
    font-size: 110px;
}

.container .content .item p {
    font-size: 30px;
}

.container {
    position: relative;
    height: 100%;
}

.container.first-container .item.bg {
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.container .content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    padding: 0 30px;
    background: rgba(0, 0, 0, 0.25);
    transition: background 0.5s;
}

.container .content .item {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.container .content .item.justify-end {
    justify-content: flex-end;
}

.container .content .item.align-end {
    align-items: flex-end;
}

.container .content .item.align-center {
    align-items: center;
}

.container .navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.container .navbar a {
    color: var(--white);
    font-weight: 400;
    font-size: 32px;
    opacity: 0.6;
    transition: var(--transition);
}

.container .navbar a:hover {
    opacity: 1;
    transition: var(--transition);
}

.container .content .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 60%;
}

.container .content .info-wrapper .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .content .info-wrapper .item .item-col {
    display: flex;
    flex-direction: column;
}

.container .content .info-wrapper .item i {
    font-size: 70px;
}

.container .content .info-wrapper .item .true {
    color: var(--green);
}

.container .content .info-wrapper .item .false {
    color: var(--red);
}

.container .content.pd-0 {
    padding: 0;
}

.container .content.height-fit-content {
    height: fit-content;
}

.container .content .gallery-wrapper {
    display: flex;
    gap: 0;
    flex-direction: row;
    width: 100%;
}

.container .content .gallery-wrapper .item {
    flex: 1 0;
}