body {
    background-color: var(--black-background);
}

.section .row h1 {
    color: var(--white);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.section .row .focus-heading {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.banner.section {
    margin-top: 60px;
}

.footer {
    background-color: var(--black-background);
}

.projects-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 40px;
}

.projects-wrapper .item {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projects-wrapper .item.large {
    flex: 2 0 60%;
    background-color: black;
}

.projects-wrapper .item .content {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects-wrapper .item .content h3 {
    text-align: center;
    font-size: 24px;
}

.projects-wrapper .item .overlay {
    opacity: 0;
    background-color: var(--white);
    transition: var(--transition);
}

.projects-wrapper .item:hover .overlay {
    opacity: 1;
    transition: var(--transition);
}

.projects-wrapper .item:hover .content {
    display: flex;
}

.projects-wrapper .item h3,
.projects-wrapper .item p,
.projects-wrapper .item a {
    color: var(--white);
}

/* RETTEKETET */
.projects-wrapper .item.retteketet .overlay {
    background-color: var(--retteketet);
}

/* VIS A VIS */
.projects-wrapper .item.vis-a-vis .overlay {
    background-color: var(--vis-a-vis);
}

/* EAU LALA */
.projects-wrapper .item.eau-lala .overlay {
    background-color: var(--eau-lala);
}

/* RIBBEDEPIE */
.projects-wrapper .item.ribbedepie .overlay {
    background-color: var(--ribbedepie);
}

@media (max-width: 560px) {
    .projects-wrapper .item .content h3 {
        font-size: 16px;
    }

    .projects-wrapper .item .content a {
        font-size: 14px;
    }

    .projects-wrapper .item {
        flex: 1 0 100%;
    }
}