.banner {
    justify-content: center;
    background-image: none;
    background: var(--black);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section,
.banner.section .row {
    min-height: 100vh;
}

.banner.section .row {
    max-width: 1600px;
    padding: 0 30px;
}

.banner.contact .legal {
    color: var(--white);
    font-size: var(--text-xl);
    margin-top: 20px;
}

.banner.contact .contact-note {
    color: var(--white);
    font-size: var(--text-lg);
    line-height: 1.5;
    max-width: 480px;
    margin: 20px 0 0;
    text-align: justify;
}

.form-wrapper .checkbox {
    height: fit-content;
    flex: 0;
    margin-left: 16px;
}